#left {
	left: 160px;
	margin-left: -160px;
	width: 160px;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1000;
	overflow-y: auto;
	background: #053404;	
}

.left_content{
	display: block;
	margin-left: 160px;
	top: 0;
	bottom: 0;
	z-index: 1000;
	overflow-y: auto;	
}

.top {
	display: block;
	margin-left: 160px;
	top: 0;
	bottom: 0;
	z-index: 1000;
	overflow-y: auto;	
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 768px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	border-bottom: 1px solid #eee;
	background: #fff;
	letter-spacing: 0.05em;
}

.content{
	
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #eee;
	background: #fff;
	
}

#outer {
	width: 100%;
	background:
}

#inner {
	width: 100%;
	background: green;
}

ul {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
	list-style-type: none;
	z-index: 1;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	
	box-sizing: border-box;
	line-height: 1.6;
	font-family: sans-serif;
	font-weight: 100%;
	letter-spacing: 0.01em;
}

a {
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;
	/*background-color: purple;*/
	padding: 0.625em 1em;
	border-right: none;
	white-space: normal;	
	box-sizing: border-box;
}

a:hover {
	background-color: #14E010;
}

li {
	position: relative;
	display: block;
	display: list-item;
	text-align: -webkit-match-parent;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	margin: 0;
	line-height: 1.6;
	font-family: sans-serif;
	font-weight: 100%;
	letter-spacing: 0.01em;
	z-index: 1;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;	
}